
    .red{
        order:2;
        background-color: red;
        width: 100px;
        height: 20px;
    
    }

    .blue{
        order: 3;
        background-color: blue;
        width: 100px;
        height: 20px;
       
    }

    .yellow{
        order: 1;
        background-color: yellow;
        width: 100px;
        height: 20px;
    }
    .container{
        

        display: flex;
        width: 1200px;
        background-color: violet;

    }
    .s{
        display: flex;

    }

    
